{% extends 'base.html' %}

{% block head %}
<title>Update Equipment</title>
{% endblock %}

{% block body %}
<div class="tndiv">
    <h1>Lawn+Care Management Application</h1>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/add_owner">Customers</a>
        <a href="/add_employee">Employees</a>
        <a class="active" href="/add_equip">Equipment</a>
        <a href="/add_service">Services</a>
        <a href="/add_workorder">Workorders</a>
    </div>
</div>
<h1 style="text-align: center">Update Equipment</h1>

<form class="resp-form" action="/update_equip/{{equip.EquipID}}" method="POST">
    <h4>Update Equipment:</h4><br>
    <label>Equipment Description:</label>
    <input type="text" name="desc" id="desc" value="{{equip.EquipDesc}}" required><br>
    <label>Date Last Serviced:</label>
    <input type="date" name="lastserviceddate" id="lastserviceddate" value="{{equip.DateLastServiced.strftime('%Y-%m-%d') }}"  required><br>
    <label>Service Period (Days):</label>
    <input type="num" name="period" id="period" value="{{equip.ServicePeriod}}" required><br>
    <input type="submit" value="Update Equipment"><br>
    <a href="/add_equip">Back to Main Page</a>
</form>

{% endblock %}